<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="container">
    <div class="center">
        <h2>FORMULARIO DE REGISTRO DE RECLAMOS</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body floating-labels form-material">
                        <h4 class="card-title m-t-40">
                        Tipo de documento<br/>
                        </h4>
                        <div class="d-flex justify-content-around">
                            <input name="tipodoc" type="radio" id="tipodoc_1" class="radio-col-deep-purple" checked />
                            <label for="tipodoc_1">DNI</label>
                            <input name="tipodoc" type="radio" id="tipodoc_2" class="radio-col-deep-purple" />
                            <label for="tipodoc_2">RUC</label>
                            <input name="tipodoc" type="radio" id="tipodoc_3" class="radio-col-deep-purple" />
                            <label for="tipodoc_3">Pasaporte</label>
                            <input name="tipodoc" type="radio" id="tipodoc_4" class="radio-col-deep-purple" />
                            <label for="tipodoc_4">Carnet de extranjeria</label>
                        </div> 
                        <div class="form-group m-b-40">
                            <input type="text" class="form-control form-control-line" id="nrodocumento">
                            <span class="bar"></span>
                            <label for="nrodocumento">Numero Documento</label>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->