<div class="input-group">
    
    <span class="input-group-btn">
        <button [ngClass]="btnClass"
        type="button"
        (click)="cambiarValor(-5)">
        <i class="fa fa-minus" aria-hidden="true"></i>
    </button>
</span>
<input type="number" 
        class="form-control" 
        [ngClass]="{'is-invalid':progreso>100 || progreso<0}"
        placeholder="Progreso"
        min="0"
        max="100"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="progreso">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" 
                type="button" 
                (click)="cambiarValor(5)">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </span>
    
</div>
<div class="center text-danger">
    <small *ngIf="progreso>100 || progreso<0">
        Ingrese un valor entre 0 y 100
    </small>
</div>