<div class="row">
    <div class="col-6">
        <app-dona [titulo]="titulo1"
                  [data]="data1"
                  [labels]="labels1">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="titulo2"
                  [data]="data2"
                  [labels]="labels2"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="titulo3"
                  [data]="data3"
                  [labels]="labels3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="titulo4"
                  [data]="data4"
                  [labels]="labels4"></app-dona>
    </div>
</div>
