<div class="container center row">
    <div class="col-12"><h1>ASPECTOS GENERALES</h1></div>
    <div class="body-aspectos-generales col-10">
        <div>
            Le solicitamos que lea los términos generales del libro de reclamaciones virtual para poder brindarles un mejor servicio de atención.
        </div>
        <div>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span>Los datos de domicilio deben ser llenados correctamente</span>
        </div>
        <div >
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            Los datos de contacto deben ser los correctos, a fin de emitir la comunicación de respuesta o de solicitar mayor información.
        </div>
        <div >
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            Le recomendamos que detalle los hechos motivo de la reclamación y de ser posible le pedimos que identifique al servidor reclamado.
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-lg btn-rounded btn-success" type="button" routerLink="formulario" routerLink="/formulario">Ir al fomurlario</button>
    </div>
</div>